@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

*{
    font-family: 'Edu TAS Beginner', cursive;
}



body{
    background-color: gray
}

.header{
    display: flex;
    float: right;
    font-size: large;
}
.socials{
    display: flex;
    flex-direction: column;
}


.socials a:nth-child(1){
    color: yellow
}
.socials a:nth-child(2){
    color: black;
}
.socials a:nth-child(3){
    color: darkred
}

