<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="aboutme.css">
    <link rel="icon" href="favicon.ico" />
</head>
<body>
    <div class="section">
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="aboutme.html" class="active" >About</a>
            <a href="services.html">Services</a>
            <a href="contact.html">Contact</a>
            <a href="ind.html">Feedback</a>
        </nav>
        <div class="hero">
            <article>
                <h1>About Me</h1>
                <img src="IMG_0218.jpeg">
                <content>
                   *This website will have regular updates*
                </content>
                <h5>Tristan</h5>
                <p>Hello, Nice to meet you, as you can probably tell i am Tristan Metcalfe. Yes i am a kid, and yes i made this whole website by myself. For business inquires email me at metcalfetristan8@gmail.com</p>
            </article>
        </div>
    </div>
    
</body>
</html>