<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="contact.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
      </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Connect With Us</h1>
        <p class="header">We would love to respond to you queries and help you succeed. <br>Feel free to contact us.</p>
        <div class="contact-box">
            <div class="contact-left">
                <h3>Send your request</h3>
                <form action="https://formsubmit.co/ee294c8eaea6211252ebf2336b4a99fe" method=POST></form>
                         <div class="input-row">
                            <div class="input-group">
                                <label>Name</label>
                                <input type="text" placeholder="John Doe" required>
                            </div>
                            <div class="input-group">
                                <label>Phone</label>
                                <input type="text" placeholder="999-999-9999" required>
                            </div>
                         
                        </div>
                         <div class="input-row">
                            <div class="input-group">
                                <label>Email</label>
                                <input type="text" placeholder="you@example.com" required>
                            </div>
                            <div class="input-group">
                                <label>Subject</label>
                                <input type="text" placeholder="Project" required>
                            </div>
                        
                        </div>

                        <label>Message</label>
                        <textarea rows="5" placeholder="Your Message"></textarea required>

                        <button type="Submit">SEND</button>
               
                    </form>


            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>
                
                <table>
                    <tr>
                        <td>Email</td>
                        <td>metcalfetristan8@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>469-268-9579</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Not Telling</td>
                    </tr>

                </table>

            </div>
        </div>
    </div>




</body>
</html>