*{
    margin: 0;
    padding: 0;
}
.header{
    color: #fff;
}

body{
    background: #081b29;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: #fff;
    margin: 50px auto;
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: white;
    color: black
}

h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #00abf0;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

label{
    margin-bottom: 6px;
    display: block;
    color: black
}
button{
    width: 70px;
    color: black;
    height: 25px;
    font-family: 'poppins';
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    cursor: pointer;
}
.contact-left h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;  
}

tr td:first-child{
    padding-right: 20px;
    font-family: 'poppins';
}

tr td{
    padding-top: 20px;
    font-family: 'poppins';
}

.navbar a {
    font: size 18px; ;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 1s;
    margin-top: 50px;
}
.navbar a:hover, 
.navbar a.active {
    color: #00abf0;
}
.navbar{
    display: flex;
    justify-content: center;
}
.required{
    color: #00abf0;
}
.Phone-number{
    text-decoration: dotted #00abf0;
}