<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="ind.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js">
    <link rel="icon" href="favicon.ico" />
    <body>
    <section><nav class="navbar">
        <a href="index.html">Home</a>
        <a href="aboutme.html">About</a>
        <a href="services.html">Services</a>
        <a href="contact.html">Contact</a>
        <a href="ind.html" class="active">Feedback</a>
    </section></nav>
    
    <div class="container">
        <form action="https://formsubmit.co/tristanlbozo@gmail.com" method="POST">
            <h1>Give your Feedback</h1>
            <div class="id">
                <input  name="name" type="text" placeholder="Full Name" required>
                <i class="bx bxl-body"></i>
            </div>
            <div class="id">
                <input name="email" type="email" placeholder="you@example.com" required>
                <i class="bx bxl-envelope"></i>
            </div>
            <textarea name="feeback"  cols="15" rows="5" placeholder="Enter Feedback"></textarea>
            <button>Send</button>
        </form>
    </div>
    
</body>
</html>