<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="ind.css">
</head>
<body>
    <section></section>
    <div class="container">
        <form action="https://formsubmit.co/tristanlbozo@gmail.com" method="POST">
            <h1>Give your Feedback</h1>
            <div class="id">
                <input  name="name" type="text" placeholder="Full Name" required>
                <i class="far fa-user"></i>
            </div>
            <div class="id">
                <input name="email" type="email" placeholder="you@example.com" required>
                <i class="far fa-envolope"></i>
            </div>
            <textarea name="feeback"  cols="15" rows="5" placeholder="Enter Feedback"></textarea>
            <button>Send</button>
        </form>
    </div>
    
</body>
</html>