<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="website.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="file:///C:/Users/K2113230/Downloads/logo.html">
    
</head>
<body>
    

 <header class="header">
    <a href="aboutme.html" class="logo">Tristan</a>

<nav class="navbar">
    <a href="index.html" class="active">Home</a>
    <a href="aboutme.html">About</a>
    <a href="services.html">Services</a>
    <a href="contact.html">Contact</a>
    <a href="ind.html">Feedback</a>
</nav>


</header>


<section class="home">
    <div class="home-content">
        <h1>Hello, I'm Tristan Metcalfe</h1>
        <h3>Student</h3>
        <p>Hello! I am a student at WoodCreek Juinor High, I play football, I do Theater, I do coding, And I love my school! I am very active in school activties and love to help out the school. Contact me for buisness inquires.</p>
        <div class="btn-box">
           <a href="contact.html">Hire Me</a>
           <a href="contact.html">Let's Talk</a>
        </div>
    
    </div>

    <div class="home-sci">
        <a target="_blank" href="https://www.facebook.com/tristan.metcalfe.923?mibextid=LQQJ4d"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a target="_blank" href="https://instagram.com/uluvvmetca?igshid=YTQwZjQ0NmI0OA%3D%3D&utm_source=qr"><i class='bx bxl-instagram'></i></a>
    </div>

    <span class="home-imgHover"></span>

</section>
 


</body>
</html>