*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    width: 100%;
    background-color:#081b29;
}
.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    color: #efefef;
}
.title h1::after{
    content:"";
    height: 4px;
    width: 230px;
    background-color: #efefef;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
    color: #efefef;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #00abf0;
    border-radius: 10px;
    cursor: pointer;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 28px;
    color: #081b29
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color:#081b29
}
.button{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #081b29;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button a:hover::before{
    background-color: #081b29;
    
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
    margin-top: 50px;
}
.navbar a:hover, 
.navbar a.active {
    color: #00abf0;
}
.navbar{
    display: flex;
    justify-content: center;
}
.button a:hover::after{
    background-color: #00abf0;
}