<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="services.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="favicon.ico" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    </style>
</head>
<body>
    
    <div class="section">
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="aboutme.html">About</a>
            <a href="services.html" class="active">Services</a>
            <a href="contact.html">Contact</a>
            <a href="ind.html">Feedback</a>
        </nav>
        <div class="title">
            <h1>Our Services</h1>
        </div>
         <div class="services">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-calendar"></i> 
                </div>
                <h2>Website Renovation</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iste quasi deserunt libero voluptatum modi, repellendus nesciunt, reprehenderit cumque alias quia dolorem voluptas odio tempore quaerat, suscipit iure sed natus.</p>
                <a href="contact.html" class="button">Contact page</a>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-wrench"></i>
                </div>
                <h2>Custom Website</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iste quasi deserunt libero voluptatum modi, repellendus nesciunt, reprehenderit cumque alias quia dolorem voluptas odio tempore quaerat, suscipit iure sed natus.</p>
                <a href="contact.html" class="button">Contact page</a>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-handshake"></i>
                </div>
                <h2>Website Template</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iste quasi deserunt libero voluptatum modi, repellendus nesciunt, reprehenderit cumque alias quia dolorem voluptas odio tempore quaerat, suscipit iure sed natus.</p>
                <a href="contact.html" class="button">Contact page</a>
            </div>    
        </div>
    </div>

</html>